// .students-record
// {
//     padding: 15px;
// }
// .record-table
// {
//     border: 1px solid #f0f0f0;
// }

.students-record
{
    padding: 15px;
    margin-left: 60px;

    &__record-table
    {
        border: 1px solid #e12b2b;
    }
    &.sidebarExpanded
    {
        margin-left: 250px;
    }
}